<ion-side-menus>
     <ion-side-menu-content>
          <ion-nav-bar class="bar-stable">
               <ion-nav-buttons side="left">
               <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
               </ion-nav-buttons>
          </ion-nav-bar>

          <!--
          <ion-header-bar>
               <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
               <h1 class="title">Content</h1>
          </ion-header-bar>
          -->

          <ion-nav-view name="menu"></ion-nav-view>
     </ion-side-menu-content>

     <ion-side-menu side="left">
          <ion-header-bar>
               <h1 class="title">Menu</h1>
          </ion-header-bar>
          <ion-content>
               <ion-list>
                    <ion-item nav-clear menu-close href="#/menu/github">
                      Github
                    </ion-item>
                    <ion-item nav-clear menu-close href="#/menu/instagram">
                      Instagram
                    </ion-item>
               </ion-list>
          </ion-content>
     </ion-side-menu>
</ion-side-menus>
